.main-content {
  padding-bottom: 20px;
}

.first-section-content {
  background-color: #000000;
  color: var(--white_alternative);
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
  border-radius: 0 0 3.3rem 3.3rem;
  box-shadow: 0 3px 10px 1px #000000;
  overflow: hidden;
  position: relative;
}

.galaxy-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.welcoming-section {
  position: relative;
  z-index: 1;
  padding-top: calc(var(--vh, 1vh) * 20);
  margin-left: 2.5rem;
}

.role-text {
  position: relative;
  z-index: 1;
  margin-right: 2.5rem;
}

.role-text p {
  font-family: var(--font-libre-baskerville);
  font-size: 3rem;
  color: var(--yellow);
  text-align: right;
  margin-top: 25%;
  line-height: 3.2rem;
}

@media (min-width: 500px) {
  .role-text p {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-top: 20%;
  }
}

@media (min-width: 768px) {
  .role-text p {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-top: 15%;
  }
  .welcoming-section p,
  .welcoming-section h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .welcoming-section {
    margin-left: 5rem;
  }
  .welcoming-section p,
  .welcoming-section h1 {
    font-size: 4rem;
  }
  .role-text {
    margin-right: 5rem;
  }
  .role-text p {
    font-size: 4rem;
    margin-top: 10%;
  }
}

@media (min-width: 1640px) {
  .welcoming-section {
    margin-left: 7rem;
  }
  .welcoming-section p,
  .welcoming-section h1 {
    font-size: 4.5rem;
  }
  .role-text {
    margin-right: 7rem;
  }
  .role-text p {
    font-size: 4.5rem;
    margin-top: 8%;
  }
}

@media (max-height: 700px) {
  .astronaut {
    top: -9rem;
  }

  .astronaut img {
    width: 270px;
  }

  .role-text p {
    margin-top: 5%;
  }
}

@media (max-height: 650px) {
  .role-text p {
    margin-top: 3%;
  }
}

@media (max-height: 700px) and (max-width: 580px) {
  .role-text p {
    margin-top: 15%;
  }
}
