.menu {
  height: 100vh;
  width: 100%;
  background-color: var(--yellow);
  position: fixed;
  right: 0;
  top: 0;
  color: var(--black_alternative);
  font-family: var(--font-josefin-sans);
  pointer-events: auto;
}

.menu .body {
  box-sizing: border-box;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .body .navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}

.menu .body .nav {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 42px;
  gap: 44px;
}

.menu .body .header {
  border-bottom: 1px solid var(--black_alternative);
  padding-bottom: 2px;
  margin-top: 1rem;
}

.menu .body .header p {
  font-family: var(--font-josefin-sans);
  font-size: 1rem;
  line-height: 2rem;
}

.menu .body .nav a {
  text-decoration: none;
  font-weight: 600;
  width: 100%;
}

.multilanguage-button {
  border: 1px solid var(--black_alternative);
  border-radius: 25px;
  background-color: #fafafade;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.multilanguage-button p {
  font-family: var(--font-josefin-sans);
  font-size: 1rem;
  font-weight: 800;
  line-height: 2rem;
  padding: 12px 12px 10px 12px;
  text-align: center;
}

@media (width <= 1200px) {
  .menu .body .nav {
    font-size: 2rem;
    gap: 22px;
  }
}
